.slider {
	padding: 184px 0 229px;
	margin: 0 auto;
	max-width: 600px;

	&__title {
		margin-bottom: 32px;
		font-weight: 300;
		font-size: 72px;
		line-height: 83px;
		text-align: center;
		color: #F2F4F7;

		@media (max-width: 768px) {
			font-size: 50px;
			line-height: 50px;
		}
	}

	&__description {
		margin-bottom: 80px;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #F2F4F7;

		@media (max-width: 768px) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__button {
		max-width: 239px;
		margin: 0 auto;
		padding: 16px 96px;
		display: block;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		border: 2px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(124.53deg, #FC3F5F 0%, #7D61FF 100.32%);
		background-image: linear-gradient(124.53deg, #FC3F5F 0%, #7D61FF 100.32%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		cursor: pointer;
	}

	&__dots {
		margin-top: 64px;
		padding: 16px;
		display: flex;
		list-style-type: none;
		justify-content: center;
		gap: 32px;
	}

	&__dot {
		padding: 5px;
		border: 3px solid rgba(196, 196, 196, 0.16);
		border-radius: 50%;
		cursor: pointer;

		&--active {
			border-color: #FFFFFF;
		}
	}
}
